Source: rackspace-cloud-monitoring-meta-master
Section: unknown
Priority: extra
Maintainer: Rackspace Cloud Monitoring <monitoring@rackspace.com>
Build-Depends: 
Standards-Version: 3.9.3

Package: rackspace-cloud-monitoring-meta-master
Architecture: all
Depends: ${misc:Depends}
Description: Rackspace Cloud Monitoring Master Repo
