Source: rackspace-cloud-monitoring-meta-stable
Section: unknown
Priority: extra
Maintainer: Rackspace Cloud Monitoring <monitoring@rackspace.com>

Package: rackspace-cloud-monitoring-meta-stable
Architecture: all
Depends: ${misc:Depends}
Description: Rackspace Cloud Monitoring Stable Repo
